cross-compile*
*.orig
*.deps
*.targets
*.[oa]
moc_*.cpp
ui_*.h
qrc_*.cpp
*.user
*.user.*
*.kdev*
*.kate-swp
*EXAMPLE*
*~
*.bak
*.elf
*.hex
obj
bin
build*
*.lst
Makefile
build*
.svn
.deps
*.cof

#eclipse project files
.cproject
.project

# special doc folders
Doc
archive

#archives
*.zip
*.rar
*.deb
*.tar.*

.settings
.DS_Store
.directory
 
#some folders
distr
